body{
    margin: 0%;
    height: 100%;
    background-color: #2B2B52;
}

#logindiv{
    background-color: #01CBC6;
    margin: 100px;
    margin-top: 110px;
    padding-left: 50px;
    padding-right: 90px;
    padding: 20px;
    
}
h1{
    font-family: 'Courier New', Courier, monospace;
    color: aqua;
    
}